* {
  font-family: 'Roboto';
}
.bg-container {
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .timer-container {
    flex-direction: row;
  }
}
.clock-bg-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .clock-bg-img-container {
    width: 450px;
    height: 450px;
  }
}
.controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-stop-reset-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}
.settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.timer-limit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.limit-counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90px;
}
.pause-play-reset-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.pause-play-rest-img {
  width: 25px;
  cursor: pointer;
}
.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 150px;
  width: 120px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .time-container {
    width: 150px;
    height: 150px;
  }
}
.timer-limit-heading {
  font-size: 12px;
  font-weight: 500;
}
.limit-count {
  background-image: linear-gradient(to right, #defafe, #00d9f5);
  width: 200px;
  height: 20px;
  text-align: center;
  color: #0f172a;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
}
.counter-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.timer {
  color: #00d9f5;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}
.timer-label {
  font-size: 14px;
  font-weight: bold;
}
.timer-controller-label {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .timer {
    font-size: 28px;
  }
  .timer-label {
    font-size: 18px;
  }
  .timer-controller-label {
    font-size: 16px;
  }
  .timer-limit-heading {
    font-size: 14px;
  }
}
